Publish content from Airtable to Webflow.json
{
    "name": "Publish content from Airtable to Webflow",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 383610,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Webflow publish article"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 656804
            },
            "mapper": {
                "id": "{{1.recordId}}",
                "base": "appXmNUmRl4bqnHRC",
                "table": "tblM7aeJZTWIXzXfW",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Content Blog with Webflow and OpenAI GPT"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Content themes & shows"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Blog title",
                        "type": "text",
                        "label": "Blog title"
                    },
                    {
                        "name": "Content theme / vertical",
                        "type": "text",
                        "label": "Content theme / vertical"
                    },
                    {
                        "name": "Hero Image",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Hero Image"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Idea description",
                        "type": "text",
                        "label": "Idea description",
                        "multiline": true
                    },
                    {
                        "name": "Blog content",
                        "type": "text",
                        "label": "Blog content"
                    },
                    {
                        "name": "slug",
                        "type": "text",
                        "label": "slug"
                    },
                    {
                        "name": "SEO Summary",
                        "type": "text",
                        "label": "SEO Summary",
                        "multiline": true
                    },
                    {
                        "name": "Publishing Date",
                        "time": false,
                        "type": "date",
                        "label": "Publishing Date"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "markdown:Compile",
            "version": 2,
            "parameters": {},
            "mapper": {
                "gfm": true,
                "data": "{{2.`Blog content`}}",
                "sanitize": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "gfm": {
                            "mode": "chose"
                        },
                        "sanitize": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "data",
                        "type": "text",
                        "label": "Markdown"
                    },
                    {
                        "name": "gfm",
                        "type": "boolean",
                        "label": "GitHub Flavored Markdown",
                        "required": true
                    },
                    {
                        "name": "sanitize",
                        "type": "boolean",
                        "label": "Sanitize",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "webflow:createItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 679889
                            },
                            "filter": {
                                "name": "Scheduled",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.Status}}",
                                            "b": "Scheduled",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "live": true,
                                "fields": {
                                    "name": "{{2.`Blog title`}}",
                                    "slug": "{{2.slug}}",
                                    "image": {
                                        "url": "{{2.`Hero Image`[].url}}"
                                    },
                                    "_draft": false,
                                    "category": "059567a02b79f1e494a88eaa9677fcc4",
                                    "_archived": false,
                                    "post-body": "{{5.data}}"
                                },
                                "site_id": "61992448d963e5212fa86387",
                                "collection_id": "61992448d963e519eca8639f"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "live": {
                                            "mode": "chose"
                                        },
                                        "fields": {
                                            "nested": {
                                                "_draft": {
                                                    "mode": "chose"
                                                },
                                                "category": {
                                                    "mode": "chose",
                                                    "label": "Blog"
                                                },
                                                "_archived": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "site_id": {
                                            "mode": "chose",
                                            "label": "Test"
                                        },
                                        "collection_id": {
                                            "mode": "chose",
                                            "label": "Blog Posts",
                                            "nested": [
                                                {
                                                    "name": "fields",
                                                    "spec": [
                                                        {
                                                            "name": "category",
                                                            "type": "select",
                                                            "label": "Category",
                                                            "options": [
                                                                {
                                                                    "label": "Blog",
                                                                    "value": "059567a02b79f1e494a88eaa9677fcc4"
                                                                },
                                                                {
                                                                    "label": "Advice",
                                                                    "value": "3d8c9b053905998d0b2c497a404ad604"
                                                                }
                                                            ],
                                                            "required": false
                                                        },
                                                        {
                                                            "name": "image",
                                                            "spec": [
                                                                {
                                                                    "help": "Valid URL with Image extension in it.",
                                                                    "name": "url",
                                                                    "type": "url",
                                                                    "label": "URL",
                                                                    "required": false
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Image",
                                                            "required": false
                                                        },
                                                        {
                                                            "name": "post-body",
                                                            "type": "text",
                                                            "label": "Post Body",
                                                            "required": false,
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name",
                                                            "required": true,
                                                            "validate": {
                                                                "max": 256
                                                            }
                                                        },
                                                        {
                                                            "help": "Must be alphanumerical and not contain any spaces or special characters",
                                                            "name": "slug",
                                                            "type": "text",
                                                            "label": "Slug",
                                                            "required": false,
                                                            "validate": {
                                                                "max": 256
                                                            }
                                                        },
                                                        {
                                                            "name": "_archived",
                                                            "type": "boolean",
                                                            "label": "Archived",
                                                            "default": false,
                                                            "required": true
                                                        },
                                                        {
                                                            "help": "Please note that if you want to set your item as \"Draft\", then you also need to select **No** in \"Live\" below.\nAlso note that setting the item as \"Draft\" will unpublish your item from live site (this is a native behavior of Webflow API).",
                                                            "name": "_draft",
                                                            "type": "boolean",
                                                            "label": "Draft",
                                                            "default": false,
                                                            "required": true
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Fields"
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "webflow"
                                            },
                                            "label": "My Webflow connection (Make)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:webflow",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "site_id",
                                        "type": "select",
                                        "label": "Site ID",
                                        "required": true
                                    },
                                    {
                                        "name": "live",
                                        "type": "boolean",
                                        "label": "Live"
                                    },
                                    {
                                        "name": "collection_id",
                                        "type": "select",
                                        "label": "Collection ID",
                                        "required": true
                                    },
                                    {
                                        "name": "fields",
                                        "spec": [
                                            {
                                                "name": "category",
                                                "type": "select",
                                                "label": "Category",
                                                "validate": {
                                                    "enum": [
                                                        "059567a02b79f1e494a88eaa9677fcc4",
                                                        "3d8c9b053905998d0b2c497a404ad604"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "image",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Image"
                                            },
                                            {
                                                "name": "post-body",
                                                "type": "text",
                                                "label": "Post Body"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "slug",
                                                "type": "text",
                                                "label": "Slug",
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "_archived",
                                                "type": "boolean",
                                                "label": "Archived",
                                                "required": true
                                            },
                                            {
                                                "name": "_draft",
                                                "type": "boolean",
                                                "label": "Draft",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Fields"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "updated-by",
                                        "type": "text",
                                        "label": "Updated By"
                                    },
                                    {
                                        "name": "created-by",
                                        "type": "text",
                                        "label": "Created By"
                                    },
                                    {
                                        "name": "published-by",
                                        "type": "text",
                                        "label": "Published By"
                                    },
                                    {
                                        "name": "_cid",
                                        "type": "text",
                                        "label": "Collection ID"
                                    },
                                    {
                                        "name": "_id",
                                        "type": "text",
                                        "label": "Item ID"
                                    },
                                    {
                                        "name": "category",
                                        "type": "select",
                                        "label": "Category",
                                        "options": [
                                            {
                                                "label": "Blog",
                                                "value": "059567a02b79f1e494a88eaa9677fcc4"
                                            },
                                            {
                                                "label": "Advice",
                                                "value": "3d8c9b053905998d0b2c497a404ad604"
                                            }
                                        ],
                                        "required": false
                                    },
                                    {
                                        "name": "image",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "File ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image",
                                        "required": false
                                    },
                                    {
                                        "name": "post-body",
                                        "type": "text",
                                        "label": "Post Body",
                                        "required": false,
                                        "multiline": true
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true,
                                        "validate": {
                                            "max": 256
                                        }
                                    },
                                    {
                                        "help": "Must be alphanumerical and not contain any spaces or special characters",
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug",
                                        "required": false,
                                        "validate": {
                                            "max": 256
                                        }
                                    },
                                    {
                                        "name": "_archived",
                                        "type": "boolean",
                                        "label": "Archived",
                                        "default": false,
                                        "required": true
                                    },
                                    {
                                        "help": "Please note that if you want to set your item as \"Draft\", then you also need to select **No** in \"Live\" below.\nAlso note that setting the item as \"Draft\" will unpublish your item from live site (this is a native behavior of Webflow API).",
                                        "name": "_draft",
                                        "type": "boolean",
                                        "label": "Draft",
                                        "default": false,
                                        "required": true
                                    },
                                    {
                                        "name": "created-on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Created On",
                                        "required": false
                                    },
                                    {
                                        "name": "updated-on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Updated On",
                                        "required": false
                                    },
                                    {
                                        "name": "published-on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Published On",
                                        "required": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 656804
                            },
                            "mapper": {
                                "id": "{{2.id}}",
                                "base": "appXmNUmRl4bqnHRC",
                                "table": "tblM7aeJZTWIXzXfW",
                                "record": {
                                    "fld8xBd5h15IZtkJP": "https://your-website.webflow.io/post/{{3.slug}}",
                                    "fldFLJVzJabDzrYeh": "Published",
                                    "fldf2rSwKQmMOuJ9y": "{{3.`_id`}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Content Blog with Webflow and OpenAI GPT"
                                        },
                                        "table": {
                                            "label": "Content themes & shows"
                                        },
                                        "record": {
                                            "nested": {
                                                "fld9Y0FlkMB51MyVe": {
                                                    "mode": "edit"
                                                },
                                                "fldFLJVzJabDzrYeh": {
                                                    "mode": "chose",
                                                    "label": "Published"
                                                },
                                                "fldZGpnn1FoliWDoy": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldqYT1PnSaDj04UF",
                                                "type": "text",
                                                "label": "Blog title"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld9Y0FlkMB51MyVe",
                                                "type": "select",
                                                "label": "Content theme / vertical"
                                            },
                                            {
                                                "name": "fldZGpnn1FoliWDoy",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "File URL"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Hero Image"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldFLJVzJabDzrYeh",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldzpuAhGHbnmZ372",
                                                "type": "text",
                                                "label": "Idea description"
                                            },
                                            {
                                                "name": "fldMDXZMQEtPARzIv",
                                                "type": "text",
                                                "label": "Blog content"
                                            },
                                            {
                                                "name": "fldS7aCMLZ0PFJoxN",
                                                "type": "text",
                                                "label": "Editing notes"
                                            },
                                            {
                                                "name": "fldlsbrEFL6VMYaVu",
                                                "type": "text",
                                                "label": "SEO Summary"
                                            },
                                            {
                                                "name": "fldMJ5xt4vF82yrEt",
                                                "time": false,
                                                "type": "date",
                                                "label": "Publishing Date"
                                            },
                                            {
                                                "name": "fldf2rSwKQmMOuJ9y",
                                                "type": "text",
                                                "label": "Webflow Id"
                                            },
                                            {
                                                "name": "fld8xBd5h15IZtkJP",
                                                "type": "url",
                                                "label": "Link to page"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Blog title",
                                        "type": "text",
                                        "label": "Blog title"
                                    },
                                    {
                                        "name": "Content theme / vertical",
                                        "type": "text",
                                        "label": "Content theme / vertical"
                                    },
                                    {
                                        "name": "Hero Image",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "MIME type"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Small"
                                                    },
                                                    {
                                                        "name": "large",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Large"
                                                    },
                                                    {
                                                        "name": "full",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Full"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnails"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Hero Image"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Idea description",
                                        "type": "text",
                                        "label": "Idea description",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Blog content",
                                        "type": "text",
                                        "label": "Blog content"
                                    },
                                    {
                                        "name": "Editing notes",
                                        "type": "text",
                                        "label": "Editing notes",
                                        "multiline": true
                                    },
                                    {
                                        "name": "slug",
                                        "type": "text",
                                        "label": "slug"
                                    },
                                    {
                                        "name": "SEO Summary",
                                        "type": "text",
                                        "label": "SEO Summary",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Publishing Date",
                                        "time": false,
                                        "type": "date",
                                        "label": "Publishing Date"
                                    },
                                    {
                                        "name": "Webflow Id",
                                        "type": "text",
                                        "label": "Webflow Id"
                                    },
                                    {
                                        "name": "Link to page",
                                        "type": "url",
                                        "label": "Link to page"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "webflow:updateItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 679889
                            },
                            "filter": {
                                "name": "Update",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.Status}}",
                                            "b": "Update",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "live": true,
                                "fields": {
                                    "name": "{{2.`Blog title`}}",
                                    "slug": "{{2.slug}}",
                                    "image": {
                                        "url": "{{2.`Hero Image`[].url}}"
                                    },
                                    "_draft": false,
                                    "category": "059567a02b79f1e494a88eaa9677fcc4",
                                    "_archived": false,
                                    "post-body": "{{5.data}}"
                                },
                                "item_id": "{{2.`Webflow Id`}}",
                                "site_id": "61992448d963e5212fa86387",
                                "collection_id": "61992448d963e519eca8639f"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "live": {
                                            "mode": "chose"
                                        },
                                        "fields": {
                                            "nested": {
                                                "_draft": {
                                                    "mode": "chose"
                                                },
                                                "category": {
                                                    "mode": "chose",
                                                    "label": "Blog"
                                                },
                                                "_archived": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "item_id": {
                                            "mode": "edit"
                                        },
                                        "site_id": {
                                            "mode": "chose",
                                            "label": "Test"
                                        },
                                        "collection_id": {
                                            "mode": "chose",
                                            "label": "Blog Posts"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "webflow"
                                            },
                                            "label": "My Webflow connection (Make)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:webflow",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "site_id",
                                        "type": "select",
                                        "label": "Site",
                                        "required": true
                                    },
                                    {
                                        "name": "live",
                                        "type": "boolean",
                                        "label": "Live"
                                    },
                                    {
                                        "name": "collection_id",
                                        "type": "select",
                                        "label": "Collection",
                                        "required": true
                                    },
                                    {
                                        "name": "item_id",
                                        "type": "select",
                                        "label": "Item",
                                        "required": true
                                    },
                                    {
                                        "name": "fields",
                                        "spec": [
                                            {
                                                "name": "category",
                                                "type": "select",
                                                "label": "Category",
                                                "validate": {
                                                    "enum": [
                                                        "059567a02b79f1e494a88eaa9677fcc4",
                                                        "3d8c9b053905998d0b2c497a404ad604"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "image",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Image"
                                            },
                                            {
                                                "name": "post-body",
                                                "type": "text",
                                                "label": "Post Body"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "slug",
                                                "type": "text",
                                                "label": "Slug",
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "_archived",
                                                "type": "boolean",
                                                "label": "Archived",
                                                "required": true
                                            },
                                            {
                                                "name": "_draft",
                                                "type": "boolean",
                                                "label": "Draft",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Fields"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "updated-by",
                                        "type": "text",
                                        "label": "Updated By"
                                    },
                                    {
                                        "name": "created-by",
                                        "type": "text",
                                        "label": "Created By"
                                    },
                                    {
                                        "name": "published-by",
                                        "type": "text",
                                        "label": "Published By"
                                    },
                                    {
                                        "name": "_cid",
                                        "type": "text",
                                        "label": "Collection ID"
                                    },
                                    {
                                        "name": "_id",
                                        "type": "text",
                                        "label": "Item ID"
                                    },
                                    {
                                        "name": "category",
                                        "type": "select",
                                        "label": "Category",
                                        "options": [
                                            {
                                                "label": "Blog",
                                                "value": "059567a02b79f1e494a88eaa9677fcc4"
                                            },
                                            {
                                                "label": "Advice",
                                                "value": "3d8c9b053905998d0b2c497a404ad604"
                                            }
                                        ],
                                        "required": false
                                    },
                                    {
                                        "name": "image",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "File ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image",
                                        "required": false
                                    },
                                    {
                                        "name": "post-body",
                                        "type": "text",
                                        "label": "Post Body",
                                        "required": false,
                                        "multiline": true
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true,
                                        "validate": {
                                            "max": 256
                                        }
                                    },
                                    {
                                        "help": "Must be alphanumerical and not contain any spaces or special characters",
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug",
                                        "required": false,
                                        "validate": {
                                            "max": 256
                                        }
                                    },
                                    {
                                        "name": "_archived",
                                        "type": "boolean",
                                        "label": "Archived",
                                        "default": false,
                                        "required": true
                                    },
                                    {
                                        "help": "Please note that if you want to set your item as \"Draft\", then you also need to select **No** in \"Live\" below.\nAlso note that setting the item as \"Draft\" will unpublish your item from live site (this is a native behavior of Webflow API).",
                                        "name": "_draft",
                                        "type": "boolean",
                                        "label": "Draft",
                                        "default": false,
                                        "required": true
                                    },
                                    {
                                        "name": "created-on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Created On",
                                        "required": false
                                    },
                                    {
                                        "name": "updated-on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Updated On",
                                        "required": false
                                    },
                                    {
                                        "name": "published-on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Published On",
                                        "required": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 656804
                            },
                            "mapper": {
                                "id": "{{2.id}}",
                                "base": "appXmNUmRl4bqnHRC",
                                "table": "tblM7aeJZTWIXzXfW",
                                "record": {
                                    "fld8xBd5h15IZtkJP": "https://your-website.webflow.io/post/{{2.slug}}",
                                    "fldFLJVzJabDzrYeh": "Published"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Content Blog with Webflow and OpenAI GPT"
                                        },
                                        "table": {
                                            "label": "Content themes & shows"
                                        },
                                        "record": {
                                            "nested": {
                                                "fld9Y0FlkMB51MyVe": {
                                                    "mode": "edit"
                                                },
                                                "fldFLJVzJabDzrYeh": {
                                                    "mode": "chose",
                                                    "label": "Published"
                                                },
                                                "fldZGpnn1FoliWDoy": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldqYT1PnSaDj04UF",
                                                "type": "text",
                                                "label": "Blog title"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld9Y0FlkMB51MyVe",
                                                "type": "select",
                                                "label": "Content theme / vertical"
                                            },
                                            {
                                                "name": "fldZGpnn1FoliWDoy",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "File URL"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Hero Image"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldFLJVzJabDzrYeh",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldzpuAhGHbnmZ372",
                                                "type": "text",
                                                "label": "Idea description"
                                            },
                                            {
                                                "name": "fldMDXZMQEtPARzIv",
                                                "type": "text",
                                                "label": "Blog content"
                                            },
                                            {
                                                "name": "fldS7aCMLZ0PFJoxN",
                                                "type": "text",
                                                "label": "Editing notes"
                                            },
                                            {
                                                "name": "fldlsbrEFL6VMYaVu",
                                                "type": "text",
                                                "label": "SEO Summary"
                                            },
                                            {
                                                "name": "fldMJ5xt4vF82yrEt",
                                                "time": false,
                                                "type": "date",
                                                "label": "Publishing Date"
                                            },
                                            {
                                                "name": "fldf2rSwKQmMOuJ9y",
                                                "type": "text",
                                                "label": "Webflow Id"
                                            },
                                            {
                                                "name": "fld8xBd5h15IZtkJP",
                                                "type": "url",
                                                "label": "Link to page"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Blog title",
                                        "type": "text",
                                        "label": "Blog title"
                                    },
                                    {
                                        "name": "Content theme / vertical",
                                        "type": "text",
                                        "label": "Content theme / vertical"
                                    },
                                    {
                                        "name": "Hero Image",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "MIME type"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Small"
                                                    },
                                                    {
                                                        "name": "large",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Large"
                                                    },
                                                    {
                                                        "name": "full",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Full"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnails"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Hero Image"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Idea description",
                                        "type": "text",
                                        "label": "Idea description",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Blog content",
                                        "type": "text",
                                        "label": "Blog content"
                                    },
                                    {
                                        "name": "Editing notes",
                                        "type": "text",
                                        "label": "Editing notes",
                                        "multiline": true
                                    },
                                    {
                                        "name": "slug",
                                        "type": "text",
                                        "label": "slug"
                                    },
                                    {
                                        "name": "SEO Summary",
                                        "type": "text",
                                        "label": "SEO Summary",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Publishing Date",
                                        "time": false,
                                        "type": "date",
                                        "label": "Publishing Date"
                                    },
                                    {
                                        "name": "Webflow Id",
                                        "type": "text",
                                        "label": "Webflow Id"
                                    },
                                    {
                                        "name": "Link to page",
                                        "type": "url",
                                        "label": "Link to page"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}
